<nav class="navbar fixed-top navbar-toggleable-md navbar-dark bg-faded">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <a class="navbar-brand" href="http://www.mudc.org.au/">MUDC</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="active">
        <a class="nav-link" href="/"><span class="icon icon-home"></span> Home</a>
      </li>
      <li>
        <a id="help" class="nav-link" href="javascript:;" data-toggle="modal" data-target="#helpModal"><span class="icon icon-book"></span> Help</a>
      </li>
    </ul>
  </div>
</nav>