<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>



  <!-- Help Text (Modal) -->
  <div id="helpModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">User Guide</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- TODO: Add help text -->
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">

    <!-- Header -->
    <div class="row">
      <div class="col-md-12 pb-1 content">
        <div class="dashhead">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">Social Music on Demand</h6>
            <h2 class="dashhead-title">Playlist Generator</h2>
          </div>
        </div>
      </div>
    </div>

    <hr class="md-12">

    <!-- Audio Player -->
    <div id="player" class="row justify-content-center">
      <div class="col-md-6 offset-md-3">
        <button id="rewind" class="btn btn-outline-success audio-control"><span class="icon icon-controller-jump-to-start"></span></button>
        <button id="play" class="btn btn-outline-success audio-control"><span class="icon icon-controller-play"></span></button>
        <button id="stop" class="btn btn-outline-success audio-control"><span class="icon icon-controller-stop"></span></button>
        <button id="skip" class="btn btn-outline-success audio-control"><span class="icon icon-controller-next"></span></button>
      </div>
    </div>

    <br>

    <div id="songDetails" class="row">
      <div class="col-md-12 text-center">
        <h4 id="currentSong"></h4>
      </div>

      <br>

      <div class="col-md-1 offset-md-2 justify-content-end">
        <span id="currentTime">0:00</span>
      </div>
      <div class="col-md-6">
        <input id="songProgress" type="text" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="0" data-value="20"/>
      </div>
      <div class="col-md-1 justify-content-start">
        <span id="duration"></span>
      </div>
      
    </div>

    <br>

    <div id="data" class="row">

      <div class="col-lg-6">

        <ul id="style-list" class="list-group row">
        </ul>

        <div id="accordion" role="tablist">
          <div class="card">
            <div class="card-header" role="tab" id="headingOne">
              <h5 class="mb-0">
                <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Collapsible Group Item #1
                </a>
              </h5>
            </div>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                Song 1
              </div>
            </div>
          </div>
        </div>

<!-- <div id="accordion" role="tablist">
  <div class="card">
    <div class="card-header" role="tab" id="headingOne">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingTwo">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Collapsible Group Item #2
        </a>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" role="tab" id="headingThree">
      <h5 class="mb-0">
        <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Collapsible Group Item #3
        </a>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div> -->

        <br>
        
      </div>

      <div id="song-list-contents" class="col-lg-6">

        <ul id="playlist" class="list-group">
          <li id="playlist-title" class="list-group-header"><h4 id="title">Create a new playlist</h4></li>
        </ul>

        <br>
        
        <div class="flextable">

          <div class="flextable-item flextable-primary">
            <input id="playlist-entry" placeholder="New playlist name" class="form-control" value="">
          </div>

          <div class="flextable-item">
            <div class="btn-group">
              <button id="create-playlist" class="btn btn-outline-success">Create</button>           
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class="row">
      <div class="col-md-12 text-center">
      <hr>
      <p>Developed by Matt De Bono.</p>        
      </div>
    </div>

  </div>

  <audio id="audioPlayer" class="hidden"></audio>

  <% include ../partials/scripts.ejs %>

</body>
</html>
