<!DOCTYPE html>
<html>
<head>
	<title>Playlist Generator</title>

	<style>
		#dropDiv
		{
			font-weight: bold;
			text-align: center;
			padding: 1em 0;
			margin: 1em 0;
			color: #555;
			border: 2px dashed #555;
			border-radius: 7px;
			cursor: default;
		}
	</style>

	<script src="http://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>

<button onclick="loadSongs()" type="button">Load Songs</button>
<button onclick="playAudio()" type="button">Play Audio</button>
<button onclick="stopAudio()" type="button">Stop Audio</button>

<br>

<input id="folder" type="text" name="folder" placeholder="Bachata">
<input id="song" type="text" name="song" placeholder="Te Robare">

	<% include ../partials/scripts.ejs %>

</body>
</html>